#about {
  margin-top: 20px;
}

header {
  background-image: url(img/cover.jpg);
  background-size: cover;
  height: 100vh;
  background-position: top center;
  position: relative;
}

#banner {   
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 20px;
  width: 80%;
  margin: auto;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .4s;

}

footer {
  background-color: #000000;
  color: #ffff;
  padding: 20px;
  margin-top: 15px;
}

footer address:last-child {
  margin-bottom: 0;
}

#about {
  margin-top: 0;
}

@media(min-width: 700px) {
  #banner {
    width: 70%;
  }
}

@media(min-width: 800px) {
  #banner {
    width: 50%;
  }
}

@media(min-width: 1200px) {
  #banner {
    width: 40%;
  }
}
